<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="login-title">Login</h2>

    <mat-form-field appearance="fill" class="login-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" required autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="login-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required autocomplete="off" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="loginForm.invalid">
      <mat-icon>login</mat-icon>
      Login
    </button>
      

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <p class="register-link">
      Don't have an account?
      <a routerLink="/register">Register here</a>
    </p>
  </form>
</div>
