<div class="register-container container text-center mt-3">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3 class="mb-3 fw-normal">Register</h3>
    <div class="form-floating">
      <input
        class="form-control"
        id="username"
        type="text"
        formControlName="username"
        required
        autocomplete="off"
      />
      <label for="username">Username:</label>
    </div>

    <div class="form-floating">
      <input
        class="form-control"
        id="password"
        type="password"
        formControlName="password"
        required
        autocomplete="off"
      />
      <label for="password">Password:</label>
      <div
        class="text-danger fs-6"
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
      >
        Password must be at least 6 characters
      </div>
    </div>

    <button
      class="w-100 btn btn-lg btn-primary mt-3"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  </form>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>
