.transaction-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.transaction-container input[id="type"]{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.transaction-container input[id="amount"]{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}