<div class="transaction-container container text-center mt-3">
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <h3 class="mb-3 fw-normal">Add Transaction</h3>
      <!-- <div class="form-floating">
        <input class="form-control" id="date" type="date" formControlName="date" required autocomplete="off"/>
        <label for="date">Date:</label>
      </div>-->

      <div class="form-floating">
        <input class="form-control" id="amount" type="number" formControlName="amount" required autocomplete="off"/>
        <label for="amount">Amount:</label>
      </div>

      <div class="form-floating">
        <select class="form-select" id="type" formControlName="type" required>
          <!-- <option value="" disabled selected>Select Type</option> -->
          <option value="1">Income</option>
          <option value="2">Expense</option>
        </select>
        <label for="type">Type:</label>
      </div>
      

      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Add transaction</button>
    </form>
</div>