<div class="transaction-container container text-center mt-3">
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <h3 class="mb-3 fw-normal">Add Transaction</h3>

    <div class="form-floating">
      <mat-form-field appearance="fill">
        <mat-label>Date:</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          id="date"
          formControlName="date"
          required
          autocomplete="off"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-floating">
      <mat-form-field appearance="fill">
        <mat-label>Amount:</mat-label>
        <input
          matInput
          id="amount"
          type="number"
          formControlName="amount"
          required
          autocomplete="off"
        />
      </mat-form-field>
    </div>

    <div class="form-floating">
      <mat-form-field appearance="fill">
        <mat-label>Type:</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="1">Income</mat-option>
          <mat-option value="2">Expense</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
      Add transaction
    </button>

    <a routerLink="/dashboard" class="w-100 btn btn-lg btn-secondary mt-3">
      Return to Transactions
    </a>
  </form>
</div>
